{% extends 'base.html' %}
{% block content %}
<style>
    body {
        text-align: center;
    }
    h2 {
        margin: 50px;
    }
    table {
        margin: 30px auto;
        margin-top: 50px;
    }
    td {
        padding: 15px;
    }
    td > input {
        
    }
</style>
<body>
    <div>
        <h2>이메일 추가하기</h2>
        <hr>
        <div>
            <form method="POST">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>이름</td>
                        <td><input type="text" name="name"></td>
                    </tr>
                    <tr>
                        <td>이메일</td>
                        <td><input type="email" name="email"></td>
                    </tr>
                </table>
                <input type="submit">
            </form>
        </div>
    </div>
</body>
{% endblock content %}