{% extends 'base.html' %}
{% load static %}

{% block content %}

<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <title>FROZEM GALARY</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/album/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="album.css" rel="stylesheet">
<style>
    .card {
      width: 400px;
      height: 550px;
      text-align: center;
      float: none;
      margin-top: 50px;


    .card-img-top{
        height: 300px;
    }

</style>

  <img src = '{% static "자연.jpg" %}' alt='우울그림' width = '1500px' height=" 400px" style="display: block; margin: 0px auto;">


<div class="card" style="width: 18rem;">
    <img src="{% static '좋은 음식.png' %}" class="card-img-top" alt="음식">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

          
    <div style="width:80%; margin-left:10%; margin-bottom:100px;">
        <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="https://img1.daumcdn.net/thumb/R720x0.q80/?scode=mtistory2&fname=http%3A%2F%2Fcfile2.uf.tistory.com%2Fimage%2F155407214CF11D940797FB" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">우울증은 성격이나 기분이 아니라, 질병인가요?</h5>
                <p class="card-text">우울증은 성격이나 기분이 아닙니다. <br>
                    대부분 몇 개월은 우울했다가 다시 좋아졌다가, 또 우울해집니다. <br>
                    짧게는 3-4개월, 길게는 6-9개월 정도 그 기간이 반복됩니다.</p>
                <p class="card-text"><input type="button" value="더 알아보기" onclick ="location.href='http://www.amc.seoul.kr/asan/healthinfo/disease/diseaseDetail.do?contentId=31581'"></p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="https://img.hankyung.com/photo/201703/BD.13616674.1.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">주변 사람은 우울증을 겪고 있는 사람을 어떻게 도와줄 수 있나요?</h5>
                <p class="card-text"> 가족들은 우울증 환자가 자살을 생각하고 있지는 않은지 세심하게 관찰하며 보호해주어야 합니다 <br>
                    또 굉장히 우울해하거나 불안해하던 환자가 갑자기 평온해 보이면 위험 신호로 판단해야 합니다.</p>
                <p class="card-text"><input type="button" value="더 알아보기" onclick ="location.href='http://www.amc.seoul.kr/asan/healthinfo/disease/diseaseDetail.do?contentId=31581'"></p>
              </div>
            </div>
        </div>
          
  </div>
   



  {% endblock content %}
