.container{
    width: 70%;
    margin: 50px auto;
}

.cell{

}

li{
    list-style-type: none;
    height: 150px;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 30px;
}

